<GridLayout rows="*">
    <PullToRefresh (refresh)="refreshList($event)">
        <!-- >> listview-customize-html -->
        <ListView [items]="newsList" (itemTap)="onTap(item)">
            <template let-item="item" let-i="index">
                <GridLayout columns="auto, *, auto" rows="auto, 25" verticalAlignment="top" backgroundColor="#f6f9fb">
                    <Image [src]="item.image" rowSpan="2" width="150" height="150" margin="3" verticalAlignment="top"></Image>
                    <Label [text]="item.headline" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3"></Label>
                    <Label text="Views: {{item.views}}" col="1" row="1" fontSize="14"  horizontalAlignment="left" verticalAlignment="bottom" margin="5"></Label>
                    <Label [text]="item.date_str|date" col="1" row="1" fontSize="14" horizontalAlignment="right" verticalAlignment="bottom" margin="5"></Label>
                </GridLayout>
            </template>
        </ListView>
        <!-- << listview-customize-html -->
    </PullToRefresh>
</GridLayout>


<ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center"
                   verticalAlignment="center"></ActivityIndicator>
<page-router-outlet></page-router-outlet>
