
.list-group-item {
    text-align: left;
    vertical-align: center;
}

.label-item{
    font-size: 15;
    text-wrap: normal;
}


.odd {
    background-color: lightgrey;
}

.even {
    background-color: darkgray;
}